/*NO TOCAR EXCEPTO LA TIPOGRAFIA*/

* {
    box-sizing: border-box;
	border-radius:5px 5px;
	font-family:candara;/*ESTA ES LA TIPOGRAFIA QUE USA LA PAGINA*/
	
}
[class*="col-"] {
    float: left;
    padding: 10px;  
}

.fila:after {
    content: "";
    clear: both;
    display: block;
}

/*NO TOCAR*/


@media only screen and (min-width: 1400px){
    /* 1920 */
 
	.col-1 {
		width: 6.23%;
	}
	.col-2 {
		width: 12.5%;
	}
	.col-3 {
		width: 18.75%;
	}
	.col-4 {
		width: 24.92%;
	}

	.col-5 {
		width: 31.15%;
	}

	.col-6 {
		width: 37.38%;
	}
	.col-7 {
		width: 43.61%;
	}
	.col-8 {
		width: 49.84%;
	}
	.col-9 {
		width: 56.07%;
	}
	.col-10 {
		width: 62.3%;
	}
	.col-11 {
		width: 68.53%;
	}
	.col-12 {
		width: 74.76%;
	}
	.col-13 {
		width: 80.99%;
	}
	.col-14 {
		width: 87.22%;
	}
	.col-15 {
		width: 93.45%;
	}
	.col-16 {
		width: 100%;
	}

	.offset-1 {
		margin-left: 6.25%;
	}
	.offset-2 {
		margin-left: 12.5%;
	}
	.offset-3 {
		margin-left: 18.75%;
	}
	.offset-4 {
		margin-left: 25%;
	}
	.offset-5 {
		margin-left: 31.25%;
	}
	.offset-6 {
		margin-left: 37.50%;
	}
	.offset-7 {
		margin-left: 43.75%;
	}
	.offset-8 {
		margin-left: 50%;
	}
	.offset-9 {
		margin-left: 56.25%;
	}
	.offset-10 {
		margin-left: 62.5%;
	}
	.offset-11 {
		margin-left: 68.75%;
	}
	.offset-12 {
		margin-left: 75%;
	}
	.offset-13 {
		margin-left: 81.25%;
	}
	.offset-14 {
		margin-left: 87.5%;
	}
	.offset-15 {
		margin-left: 93.75%;
	}




/*HEADER*/
header{
	border:1px solid #cccccc;
	margin-bottom: 20px;
}
#logo {
	padding:0px;
}
#logo a{
	background-image:url("imagenes/logo/fcb.png");
	height: 50px;
	display:block;
	background-size:contain;
	background-repeat:no-repeat;
	
}

#titulo h2{
	margin:0px;
}

.dato{
	text-align: center;
	padding: 5px;
	margin-left: 10px;
	background-color: #fafafa;
	border:1px solid #cccccc;
	display:block;
}

.dato i{
	margin-right: 20px;
}

.dato a{
	text-decoration: none;
	color:black;
}

.dato:hover{
	background-color: white;
	border:1px solid black;
}

/*FIN HEADER*/




/*ASIDE*/



aside{
	background-color: #f2f2f2;
	/*border:1px solid #f0f0f0;*/
	border:1px solid #cccccc;
}

#cmsMenu{
	list-style: none;
	padding:0px;
}
#cmsMenu li{
	padding:20px;

}

#cmsMenu a{
	text-decoration: none;
	color:black;
}

#cmsMenu li:hover{
	border:1px solid gray;
	background-color: white;
}

#cmsMenu a:visited{
	background-color: red;
}


/*FIN ASIDE*/



/*FOOTER*/

footer{
	margin-top: 20px;
	text-align: center;
	background-color: #f3f1f1;
	border:1px solid #cccccc;
	clear:both;
}
footer i{
	margin-right: 10px;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	text-decoration:underline;
}
footer p{
	display: inline;
}

footer div{
	margin:15px;
}

/*FIN FOOTER*/




/*pagina login*/

#login{
	background-image: url("imagenes/inicio/inicio.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
}


#login div{
	margin-top:30px;
}


#login img{
	height:250px;
	margin-bottom:30px;
}

.input{
	padding:5px;
	border:1px solid black;
}

.boton{
	margin-left:5px;
	padding: 5px;
	padding-left:20px;
	padding-right: 20px;
	background-color:#ff8100;
	border:1px solid black;
}

.boton:hover{
	background-color:#9b361d;
}

/*fin pagina login*/


/*pagina usuarios*/




/*fin pagina usuaios*/

.error{
	color:#ff0000;
}


} /*fin media query grande*/

