.paginador{clear:both;text-align: center;margin-top:10px;}


/*HEADER*/
header{
	border:1px solid #cccccc;
	margin-bottom: 20px;
}
#logo {
	padding:0px;
}
#logo a{
	background-image:url("imagenes/logo/fcb.png");
	height: 50px;
	display:block;
	background-size:contain;
	background-repeat:no-repeat;
	
}

#titulo h2{
	margin:0px;
}

.dato{
	text-align: center;
	padding: 5px;
	margin-left: 10px;
	background-color: #fafafa;
	border:1px solid #cccccc;
	display:block;
}

.dato i{
	margin-right: 20px;
}

.dato a{
	text-decoration: none;
	color:black;
}

.dato:hover{
	background-color: white;
	border:1px solid black;
}

/*FIN HEADER*/




/*ASIDE*/



aside{
	background-color: #f2f2f2;
	/*border:1px solid #f0f0f0;*/
	border:1px solid #cccccc;
}

#cmsMenu{
	list-style: none;
	padding:0px;
}
#cmsMenu li{
	padding:20px;

}

#cmsMenu a{
	text-decoration: none;
	color:black;
}

#cmsMenu li:hover{
	border:1px solid gray;
	background-color: white;
}



/*FIN ASIDE*/



/*FOOTER*/

footer{
	margin-top: 20px;
	text-align: center;
	background-color: #f3f1f1;
	border:1px solid #cccccc;
}
footer i{
	margin-right: 10px;
}

footer a{
	text-decoration: none;
}

footer a:hover{
	text-decoration:underline;
}
footer p{
	display: inline;
}

footer div{
	margin:15px;
}

/*FIN FOOTER*/




/*pagina login*/

#login{
	background-image: url("imagenes/inicio/inicio.jpg");
	background-size: cover;
	background-repeat:no-repeat;
	text-align: center;
}


#login div{
	margin-top:30px;
}


#login img{
	height:250px;
	margin-bottom:30px;
}

.input{
	padding:5px;
	border:1px solid black;
}

.boton{
	margin-left:5px;
	padding: 5px;
	padding-left:20px;
	padding-right: 20px;
	background-color:#ff8100;
	border:1px solid black;
}

.boton:hover{
	background-color:#9b361d;
}

/*fin pagina login*/


/*pagina usuarios*/





/*fin pagina usuaios*/




/*ESTILO TABLAS */




.tabla{
	margin:0 auto;
	margin-top:20px;
	width:90%;
	text-align: center;
}

.tabla img{
	width: 80px;
}

.tabla tr:nth-child(odd) {
	 background-color:#f2f2f2;
}

.tabla tr:nth-child(even) {
	 background-color:#fbfbfb;
}

.tabla tr td i{
	margin-left: 15px;
}

/*FIN ESTILOS TABLAS*/

.error{
	color:#ff0000;
}


.add{
	font-size: 1.5em;
	color:#444444;
	cursor:pointer;
	margin-left:10px;
}


.left{
	float:left;
	margin-right: 10px;
}

.modal{
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0,0,0,0.8);
	color:#000000;
	display:none;
	z-index: 999;
}

.modal-data{
	position:relative;
	margin:7% auto;
	padding: 30px 50px;
	background-color: #fafafa;
	color:#333;
	border-radius: 3px;
	width:50%;
}

.modal-data label{
	width:45%;
	display: inline-block;
}

.modal-data input, .modal-data select, .modal-data textarea{
	width:45%;
	margin-top:10px;
	
}

.modal-data textarea{
	resize:none;
}



.aceptar{
	background-color: #06af20;
	border:1px solid #cccccc;
	margin-top:50px !important;
	clear:both;
	width:30% !important;
	margin-left:35%;
	border:3px solid black;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.aceptar:hover{
	opacity: 0.8;
}


.cerrar{
	float:right;
	font-size:1.5em;
}

.borrarAceptar{
	background-color: #06af20;
	border:1px solid #cccccc;
	margin-top:50px !important;
	width:30% !important;
	border:3px solid black;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left:20%;
}

.borrarAceptar:hover, .borrarCancelar:hover{
	opacity:0.8;
}

.borrarCancelar{
	background-color: #da1717;
	border:1px solid #cccccc;
	margin-top:50px !important;
	width:30% !important;
	border:3px solid black;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}



/****SNACKBAR****/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
    z-index:999999;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/****FIN SNACKBAR***/






/*GRID*/


/*NO TOCAR EXCEPTO LA TIPOGRAFIA*/

* {
    box-sizing: border-box;
	border-radius:5px 5px;
	font-family:candara;/*ESTA ES LA TIPOGRAFIA QUE USA LA PAGINA*/
	
}
[class*="col-"] {
    float: left;
    padding: 10px;  
}



/*portatiles grandes*/
@media only screen and (min-width: 1401px){
   
	.col-1 {width: 6.23%;}
	.col-2 {width: 12.5%;}
	.col-3 {width: 18.75%;}
	.col-4 {width: 24.92%;}

	.col-5 {width: 31.15%;}

	.col-6 {width: 37.38%;}
	.col-7 {width: 43.61%;}
	.col-8 {width: 49.84%;}
	.col-9 {width: 56.07%;}
	.col-10 {width: 62.3%;}
	.col-11 {width: 68.53%;}
	.col-12 {width: 74.76%;}
	.col-13 {width: 80.99%;}
	.col-14 {width: 87.22%;}
	.col-15 {width: 93.45%;}
	.col-16 {width: 100%;}

	.offset-1 {margin-left: 6.25%;}
	.offset-2 {margin-left: 12.5%;}
	.offset-3 {margin-left: 18.75%;}
	.offset-4 {margin-left: 25%;}
	.offset-5 {margin-left: 31.25%;}
	.offset-6 {margin-left: 37.50%;}
	.offset-7 {margin-left: 43.75%;}
	.offset-8 {margin-left: 50%;}
	.offset-9 {margin-left: 56.25%;}
	.offset-10 {margin-left: 62.5%;}
	.offset-11 {margin-left: 68.75%;}
	.offset-12 {margin-left: 75%;}
	.offset-13 {margin-left: 81.25%;}
	.offset-14 {margin-left: 87.5%;}
	.offset-15 {margin-left: 93.75%;}
}

/*portatiles pequeños */
@media (min-width: 1023px) and (max-width: 1400px) {
	.col-lg-1 {width: 6.23%;}
	.col-lg-2 {width: 12.5%;}
	.col-lg-3 {width: 18.75%;}
	.col-lg-4 {width: 24.92%;}
	.col-lg-5 {width: 31.15%;}
	.col-lg-6 {width: 37.38%;}
	.col-lg-7 {width: 43.61%;}
	.col-lg-8 {width: 49.84%;}
	.col-lg-9 {width: 56.07%;}
	.col-lg-10 {width: 62.3%;}
	.col-lg-11 {width: 68.53%;}
	.col-lg-12 {width: 74.76%;}
	.col-lg-13 {width: 80.99%;}
	.col-lg-14 {width: 87.22%;}
	.col-lg-15 {width: 93.45%;}
	.col-lg-16 {width: 100%;}

	.offset-lg-1 {margin-left: 6.25%;}
	.offset-lg-2 {margin-left: 12.5%;}
	.offset-lg-3 {margin-left: 18.75%;}
	.offset-lg-4 {margin-left: 25%;}
	.offset-lg-5 {margin-left: 31.25%;}
	.offset-lg-6 {margin-left: 37.50%;}
	.offset-lg-7 {margin-left: 43.75%;}
	.offset-lg-8 {margin-left: 50%;}
	.offset-lg-9 {margin-left: 56.25%;}
	.offset-lg-10 {margin-left: 62.5%;}
	.offset-lg-11 {margin-left: 68.75%;}
	.offset-lg-12 {margin-left: 75%;}
	.offset-lg-13 {margin-left: 81.25%;}
	.offset-lg-14 {margin-left: 87.5%;}
	.offset-lg-15 {margin-left: 93.75%;}


}

/*tablets*/


@media (min-width: 768px) and (max-width: 1023px) {
	.col-md-1 {width: 6.23%;}
	.col-md-2 {width: 12.5%;}
	.col-md-3 {width: 18.75%;}
	.col-md-4 {width: 24.92%;}
	.col-md-5 {width: 31.15%;}
	.col-md-6 {width: 37.38%;}
	.col-md-7 {width: 43.61%;}
	.col-md-8 {width: 49.84%;}
	.col-md-9 {width: 56.07%;}
	.col-md-10 {width: 62.3%;}
	.col-md-11 {width: 68.53%;}
	.col-md-12 {width: 74.76%;}
	.col-md-13 {width: 80.99%;}
	.col-md-14 {width: 87.22%;}
	.col-md-15 {width: 93.45%;}
	.col-md-16 {width: 100%;}

	.offset-md-1 {margin-left: 6.25%;}
	.offset-md-2 {margin-left: 12.5%;}
	.offset-md-3 {margin-left: 18.75%;}
	.offset-md-4 {margin-left: 25%;}
	.offset-md-5 {margin-left: 31.25%;}
	.offset-md-6 {margin-left: 37.50%;}
	.offset-md-7 {margin-left: 43.75%;}
	.offset-md-8 {margin-left: 50%;}
	.offset-md-9 {margin-left: 56.25%;}
	.offset-md-10 {margin-left: 62.5%;}
	.offset-md-11 {margin-left: 68.75%;}
	.offset-md-12 {margin-left: 75%;}
	.offset-md-13 {margin-left: 81.25%;}
	.offset-md-14 {margin-left: 87.5%;}
	.offset-md-15 {margin-left: 93.75%;}


	#logo a{height: 100px;}

	.modal-data{width:70%;}

}


/*MOVIL GRANDE*/
@media (min-width: 0px) and (max-width: 767px) {
	
	[class*="col-"]{
		width:100%;
	}

	#logo a{background-position: 50%;height:150px;}

	#titulo{text-align: center;}
	.dato{margin-left: 0px;}

	form{text-align: center;}


	.modal-data{width: 80%;}

	.aceptar{margin-left:0px;width: auto !important; padding:10px;}

	.modal-data form label, .modal-data form input, .modal-data form select, .modal-data form textarea{width:100%;}

	#login form input{width: 80%;margin-bottom:20px;}

	/*el clear:both no esta funcionando*/

	#login form input:last-child{width: auto !important;clear:both !important;}




}

